header {
  background-color: transparent !important;
  height: 50px !important;
}

body {
  background-color: #1a1f2a !important;
  margin-left: 2.5vw;
  width: 95vw;
  margin-bottom: 70px;
}

.side-by-side {
  margin-bottom: -10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.side-by-side .col-1 {
  position: relative;
  width: 84%;
  margin-right: 1%;
}

.side-by-side .col-2 {
  width: 15%;
  position: relative;
}

#slider_container {
  position: relative;
  padding-left: 10px;
  padding-right: 0px;
  width: 100% !important;
}

#slider_container input::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  margin-top: -7px;
  margin-left: -1px;
  -webkit-appearance: none;
  border-radius: 50%;
  background: #41454a;
  border-style: solid;
  border-width: 2px;
  border-color: #696a6f;
}

#slider_container input:focus::-webkit-slider-thumb {
  outline: none;
  color: white;
  background-color: #e33c14;
  border-color: darkred;
}

#slider_container input::-webkit-slider-runnable-track {
  height: 5px;
  border: none;
  padding: 0;
  margin: 0;
}

.slider-follower {
  position: absolute;
  top: -25px;
  left: 50%;
}

#all_years_button {
  position: absolute;
  left: 10px;
  top: 35px;
  height: 25px;
  width: 140px;
  border-radius: 30px;
  border: none;
  color: black;
  font-weight: bold;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}

#all_years_button:focus {
  outline: none;
  color: white;
  background-color: #e33c14;
}

#slider_year:focus {
  outline: none;
  color: #696a6f !important;
}

#slider_year {
  position: absolute;
}

#slider {
  margin-top: 10px;
}

#histogram {
}

#info_panel {
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  background-color: lightslategray;
  border-color: white;
  border-radius: 30px;
  border-style: groove;
  border-width: 10;
  overflow: visible;
}

#info_panel .title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14pt;
  margin-top: 10px;
  margin-left: 1em;
  margin-right: 1em;
}

#info_panel .info {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  font-size: 10pt;
  margin-bottom: 1em;
  line-height: normal;
  justify-content: center;
  align-items: center;
  max-height: 450px;
  overflow: scroll;
  margin-left: 10px;
}

#info_panel .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info_panel .nav .btn {
  font-size: 10pt;
  background-color: #2d2d2d;
  color: white;
  height: min-content;
  font-weight: bold;
  width: min-content;
  font-stretch: narrower;
  margin: 1px;
  font-stretch: expanded;
}

#info_panel .nav .btn:hover {
  background-color: gray;
}

.stat {
  margin-bottom: -10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 5px;
}

.stat .cat {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: right;
  width: 25%;
  margin-right: 5%;
  font-weight: bold;
}

.stat .count {
  width: 70%;
  text-align: left;
  position: relative;
  vertical-align: center;
  overflow: scroll;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: fit-content;
  max-height: 100px;
  color: white;
  padding-top: 20px;
  justify-content: space-evenly;
  overflow-y: scroll;
}

div.legend-entry {
  display: flex;
  flex-direction: row;
  padding: 0px 5px 0px 5px;
  font-size: 10pt;
  height: 20px;
  text-transform: capitalize;
  align-items: center;
  text-align: center;
}

svg.legend {
  height: 100%;
  width: 20px;
}

span.legend {
  height: 100%;
  vertical-align: middle;
}
