.header {
  padding: 5px;
  max-height: 100px;
}

body {
  text-align: center;
  font-family: sans-serif;
  background-color: #30313a;
}

h1 {
  font-size: 24;
  color: white;
}

.map {
  fill: white;
  stroke: steelblue;
}

div.tooltip {
  background-color: lightgray;
  border: 12px;
  font-size: 10pt;
  padding: 5px;
  pointer-events: none;
  position: absolute;
  text-align: left;
}

.feature {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.mesh {
  fill: none;
  stroke: lightgrey;
  stroke-width: 2px;
  stroke-linejoin: round;
}
